.transparent {
    position: relative;
    margin: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #555555;
    background-image: url("../images/background.jpg");
    
}



/* .loading {
    position: absolute;
    z-index: 10009;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d8af75;
    border: 1px solid green;

}

.loading img {
    margin-top: 250px;
    display: 
} */

.navbar-nav li   {
    margin: 10px;
    padding-top: 0px;
    font-size: 1em;
    color: white;
    font-weight: bold;
}

.navbar-nav li a   {
    color: white;
}
#banner {
    width: 100%;    
}

.container {
    width: 100%;
    display: inline-block;
}

#deal {
    display: inline-block;
    width: 95%;
    margin: 40px 0;
    padding-left: 20px;
}

.slider {
    float: left;
    padding-left: 10px;
    margin-top: 100px;
}
#slider-center {
    width: 82%;
    float: left;
    overflow: hidden; 
    margin-left: 50px; 
}


#conteiner-for-offer {
    position: relative;
    display: inline-block;
    width: 95%;
    height: 450px;
    transform: translate3d(0px 0px 0px);
    transition-duration: 400ms;
    transition-timing-function: ease;
    margin-left: 50px;
   
}
/* 
.offer  {
    box-sizing: border-box;
    width: 260px;
    float: left;
    margin-right: 20px;
    text-align: center;
    background:rgb(255, 254, 254);
    border-radius: 5px;     
} */

.pizza, .pasta, .salads, .sandwich, .offer{
    box-sizing: border-box;
    width: 230px;
    height: 450px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: rgb(255, 254, 254);
    border-radius: 5px; 
    cursor: pointer; 
    transition: transform .1s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
       
}

.pizza:nth-chil(1){
    border: 1px solid gray; 

}

.zoom:hover {
    -webkit-transform: scale(1.025);
    -khtml-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
    transform: scale(1.025);
}

.descr {
    padding: 20px 10px;
    font-size: 0.8em;
    font-weight: bold;
    height: 130px;
}

#container-for-pizza:last-child {
    margin-right: 0px;
}

.offer img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
    
}
.offer:first-child {
    margin-left: -40px;
}
.button {
    color: #fff;
    margin-top: 5px;
    width: 80%;
    margin: auto;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 1em;
}

.green-bnt {
    font-size: 0.8em;
    margin-bottom: 10px;
    position: relative;
    background-color: #609e29;
}

footer {
    height: 150px;
    background: rgb(255, 254, 254);
    text-align: center;
}

.button:hover {
    background-color: #78ac36;
}

   

/* .social-container{
    width: 50%;
    text-align: 0 auto;  
} */

.menu-bar {
    padding-top: 30px;  
    margin-bottom: 30px;   
}

.menu-bar img {
    opacity: 0.8;
}

.menu-bar a {
    cursor: pointer;
    opacity: 0.8;
    font-size: 0.8em;
    color: grey;
    font-weight: bold;
    text-decoration: none;
}

.container-for-menu{
    display: inline-block;
    box-sizing: border-box;
    width: 1340px;
    padding-top: 50px;
    margin-left: 60px;
}   

.navbar-menu {
    padding-top: 140px;
    width: 100%;
}

#second-page-container ul {
    text-align: center;
}


.navbar-menu li a{
   
   color: white;
   padding: 10px;
   margin: 20px;
   font-size: 1em;
   font-weight: bold;
   text-decoration: none
}

.navbar-menu hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-width: 2px;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

.center {
    text-align: center;   
}
   
   .merge-bottom-input {
     width: 67px;
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
   }
   
   .merge-top-left-button {
     border-top-left-radius: 0;
   }
   
   .merge-top-right-button {
     border-top-right-radius: 0;
   }
#orderPizza{
    display: none;
    width: 80%;
    height: 620px;
    background: rgb(255, 254, 254);
    margin: 40px 140px 40px;
}

#orderPizza img {
    margin-left: 250px;
}

#orderPizza>p {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

#closeOrderPizza {  
    text-align: right;

}

.wrapper-for-offer{
    display: inline-block;
    width: 100%;
    height: 220px;
    background: rgb(255, 254, 254);
    border-top: 2px dotted rgba(206, 201, 201, 0.979);
   
}
.product-left-wrapper{
    width: 60%;
    height:100%; 
    float: left;
    border-right: 2px dotted rgba(206, 201, 201, 0.979);
    
}
.product-right-wrapper {
    width: 40%;
    height: 200px;
    float: left;
    padding: 20px;
}

.product-right-wrapper p {
    text-align: center;
    height: 120px;
    font-weight: bold;
    
}


.wrapper-for-qnt {
    float: right;
}

.form-group{
    padding-top: 20px;
    width: 49%;
    float: left;
}

.added {
    margin-left:30px;
}