<div id="basket">
        <form action="">
        <p>ПОТВЪРЖДАВАНЕ НА ПОРЪЧКАТА</p>
        <table>
            <thead>
                <th> </th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Цена</th>
            </thead>
            <tbody>
                <tr>
                    <td><img id="imageOfProduct" src = ""/></td>
                    <td id="nameOfProduct"></td>
                    <td id = "qntOfProduct"></td>
                    <td id = "priceOfProduct"></td>
                   
                </tr>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>ОБЩО:</td>
                        <td id="totalPrice"></td>
                    </tr>
                </tfoot>
            </tbody>
        </table>
    
        <div>
            <fieldset >Адрес за доставката</fieldset>
                <div id="ulica">
                    <input id="ulicata" type="text" placeholder="Улица">
                    <input id="nomer" type="text" placeholder="Номер">
                </div>
                
                <div class="tri2">
                    <input id="etaj" type="text" placeholder="Етаж">
                    <input id="blok" type="text" placeholder="Блок">
                </div>
                <div class="tri2">
                    <input id="apartament" type="text" placeholder="Апартамент">
                    <input id="vhod" type="text" placeholder="Вход">
                </div>
                <div class="tri2">
                        <input id="telefon" type="text" placeholder="Телефон">
                </div>
        </div>
        <div class="button green-bnt center-block col-xs-4 text-center">ПОТВЪРДИ </div>
        
    </div>
</form>