 {{#each allDeals}}
<div class="offer zoom">
    <img class="display block" src="{{url}}" alt="promo" width="230px" height="186" />
    <img class='promoRibbon' src="assets/images/offer_ribbon_bg.png" width="150px" height="80px;" />
    <div class="center block padding=20px">
        <p>{{description}}</p>
    </div>
    <div class="button green-bnt center-block">ВЗЕМИ ТАЗИ ОФЕРТA </div>
</div>
</div>

{{/each}}