<script id="dessert-template" type="text/x-handlebars-template">
    <div class="container-for-menu"> 
        {{#each allDips}}
            <div class="dessert zoom">
                <div class="center block padding=20px"><h4>{{name}}</p></div>
                <img class="display block" src="{{url}}" alt="dessert" width="230px" height="186"/>
                <div class="button green-bnt center-block">ПОРЪЧАЙ </div>
                <div class="center-block blue-txt font-fold">
                </div>
            </div>
        {{/each}}
    </div>      
</script>