<ul class="navbar-menu list-inline text-center">
    <li class="cursor-pointer text-center">
        <a href="#pizza">ПИЦИ</a>
    </li>
    <li class="cursor-pointer text-center">
        <a href="#pasta">ПАСТА</a>
    </li>
    <li class="cursor-pointer text-center">
        <a href="#salads">САЛАТИ</a>
    </li>
    <li class="cursor-pointer text-center">
        <a href="#sandwich">САНДВИЧИ</a>
    </li>
    <li class="cursor-pointer text-center">
        <a href="#dips">СОСОВЕ </a>
    </li>
    <li class="cursor-pointer text-center">
        <a href="#desserts">ДЕСЕРТИ </a>
    </li>
    <hr> </hr>
</ul>