<div id="home-page"> 
    <div id="deal">
        <div class="slider"> 
        <img class="slider" src="assets/images/slider-arrow-left.png" width="px" height="50px" alt="slide to left side">
        </div>
        <div id="slider-center"> 
        <div id='conteiner-for-offer'></div>
        </div>
        <div class="slider"> 
        <img class="slider" src="assets/images/slider-arrow-right.png" width="px" height="50px"alt="slide to right side">
        </div>        
    </div>
   
</div> 