<div id="loginFirst">
    <div id="loginFirst1">
        <div id="loginFirstUp">
            <h1>
                <p class="in">&#9832;</p>Вход
                <p class="in">&#9832;</p>
            </h1>
            <img src="facebook.png" alt="">
            <div id="loginEmailDiv">

                <input id="loginEmail" type="email" placeholder="E-mail">
            </div>
            <div id="loginPasswordDiv">
                <input id="loginPassword" type="password" placeholder="Парола">
            </div>
            <div id="zabravenaParola">
                <a>Забравена парола</a>
            </div>
            <div id="zapomniMe">
                <p>Запомни ме</p>
                <input type="radio"></input>
            </div>
            <div id="loginButtonInDiv">
                <button id="loginButtonIn">Вход</button>
            </div>
        </div>
        <div id="loginFirstDown">
            <p>Нов член? Регистрация</p>
            <div id="loginButtonRegDiv">
                <button id="loginButtonReg">Регистрация</button>
            </div>
        </div>

    </div>

</div>
<div id="loginContainer">
    <h1 class="heading">
        <p class="in">&#9832;</p> Регистрация
        <p class="in">&#9832;</p>
    </h1>
    <div id="photo">
        <img src="photo.png" alt="photo">
        <div id="addPhoto">
            <button id="buttonPhoto">Add Photo</button>
        </div>
    </div>
    <div class="names" id="firstName">
        <input id="ime" type="text" placeholder="Име">
    </div>
    <div class="names" id="SecondName">
        <input id="vtoriIme" type="text" placeholder="Фамилия">
    </div>
    <div id="emailAddress">
        <input id="email" type="email" placeholder="E-MAIL">
    </div>
    <div id="pass1">
        <input id="pas" type="password" placeholder="Парола">
    </div>
    <div id="pass2">
        <input id="pas2" type="password" placeholder="Потвърди парола">
    </div>
    <div id="text">
        <p id="error1">НЕВАЛИДНИ ДАННИ</p>
        <p id="firstp">* Като натиснете “Регистрация”, Вие се съгласявате с нашите Условия </p>
        <p> за ползване и че сте прочели нашата Политика за ползване на данните. </p>
    </div>
    <div id="reg">
        <button id="buttonReg">Регистрация</button>
    </div>
</div>
<div id="loginContainer2">
    <h1 class="heading">
        <p class="in">&#9832;</p> Добавяне на нов адрес
        <p class="in">&#9832;</p>
    </h1>
    <div id="adress">
        <input id="adresa" type="text" placeholder="Име на адрес (напр,офис,вкъщи)">
    </div>
    <div id="ulica">
        <input id="ulicata" type="text" placeholder="Улица">
    </div>
    <div class="tri">
        <input id="nomer" type="text" placeholder="Номер">
    </div>
    <div class="tri">
        <input id="postKod" type="text" placeholder="Пощенски код">
    </div>
    <div class="tri">
        <input id="grad" type="text" placeholder="Град">
    </div>
    <div class="tri2">
        <input id="telefon" type="text" placeholder="Телефон">
    </div>
    <div class="tri2">
        <input id="zwunev" type="text" placeholder="Звънец">
    </div>
    <div class="tri2">
        <input id="etaj" type="text" placeholder="Етаж">
    </div>
    <div class="tri2">
        <input id="blok" type="text" placeholder="Блок">
    </div>
    <div class="tri2">
        <input id="apartament" type="text" placeholder="Апартамент">
    </div>
    <div class="tri2">
        <input id="vhod" type="text" placeholder="Вход">
    </div>
    <p id="error2">НЕВАЛИДНИ ДАННИ</p>
    <div id="dobavi">
        <button id="addAdress">Добави</button>
    </div>


</div>