<div id="orderPizza">
    <img  height="300px">
    
    <p></p>
    <div class="wrapper-for-offer"> 
        <div class="product-left-wrapper">
            <div class="form-group col-xs-6">
                    <label>ТЕСТО</label>
                <select id="typeOfDougt">
                    <option value="traditional">Традиционно</option>
                    <option value="italian">Италианско</option>
                    <option value="Thiny">Тънко хрупкаво</option>
                        
                </select>
            </div>

            <div class="form-group col-xs-6">
                <label>Големина</label>
                <select id="size">
                    <option value="half">Половин пица</option>
                    <option value="8pieces">8 парчета</option>
                    <option value="12pieces">12 парчета</option>
                </select>
            </div>
            <div class="col-xs-12 small"><p>Продукти:</p> <p id="product_of_pizza"></p></div>
        </div>
        <div class="product-right-wrapper"> 
            <div class="wrapper-for-qnt col-sm-4">
                <label>КОЛИЧЕСТВО</label> <!-- purely semantic -->
                <div class="form-control input-sm center merge-bottom-input" name="first">1</div>
  
                 <div class="btn-group btn-block" role="group" aria-label="plus-minus">
                    <button type="button" class=" btn btn-sm btn-danger minus-button merge-top-left-button" disabled="disabled"><span class="glyphicon glyphicon-minus"></span></button>
                    <button type="button" class="btn btn-sm btn-success plus-button merge-top-right-button"><span class="glyphicon glyphicon-plus"></span></button>
                </div><!-- end button group -->
            
            </div> <!-- end column -->
            <p>ЦЕНА:</p>
            <p id="price"></p>
            <div class="added button green-bnt col-sm-10 text-center">ДОБАВИ </div>  
            </div>
            
           
        </div>    
    
    </div>
</div>