<div class="container-for-menu">
    {{#each allSandwich}}
    <div class="sandwich zoom">
        <img class="display block" src="{{url}}" alt="sandwich" width="230px" height="186" />
        <div class="center block padding=20px">
            <h4>{{name}}</h4>
        </div>
        <div class="center block padding=20px">
            <p class="descr">{{description}}</p>
        </div>
        <div class="button green-bnt center-block">ПОРЪЧАЙ </div>
        <div class="center-block blue-txt font-fold">
        </div>
    </div>
    {{/each}}
</div>